
.react-quiz-container {
    
    margin: 0;
    .questionWrapper {
        .btn {
            max-width: unset;
            background: -webkit-linear-gradient(left, #60c657, #35aee2);
            background-size: 200% 200%;
            animation: gradient-animation 4s ease infinite;
            color: #fff;
            border:0px;
        }
        .nextQuestionBtn{
            background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);

        }
    }
    div{
        .startQuizWrapper{
            .btn{
                background: -webkit-linear-gradient(left, #60c657, #35aee2);
                background-size: 200% 200%;
                animation: gradient-animation 4s ease infinite;
                color: #fff;
                border:0px;
            }
        }
    }
}