.mainBlock{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    &.footer{
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .block{
        display: flex;
        align-items: center;
        width: 50%;
        
        // flex-wrap: wrap; 
        &.wide{
            justify-content: center;
            width: 100%;
            flex-direction: column;
            .belt{
              max-width: 261px;
              height: 250px;
          
          }
            h4{ margin-top: 10px;
              text-align: center;}
            .right{
              max-width: 100%;
              margin-left: 0px;
          }
        }
        .belt{
            width: 40%;
            height: auto;
        }
        .beltBlack{
          margin-bottom: 15px;
        }
        .right{
            max-width: 50%;
            margin-left: 20px;
        }
    }
}

button {
    
    max-width: 300px;
    border: 0;
    width: auto;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    color: white;
    font-family: var(--font-heading);
    margin-bottom: 30px;
    transition: transform 0.5s ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
  }
  
  .connect-wallet-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
  }
  
  .main-button {
    background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    margin-right: 15px;
    &:hover{
      // transform: scale(1.2);
      animation: gradient-animation 0.5s ease infinite;

    }
  }
  
  .opensea-button {
    background-color: rgb(32, 129, 226);
  }
  
  .mint-count {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  @media screen and (max-width: 500px){
    .mainBlock{
      .block{
      flex-direction: column;
      width: 100%;

      .right{
        width: 100%;
        max-width: 100%;
        margin-left: 00px;
        h4{ margin-top: 10px;
          text-align: center;
        }
    }
    }
    }
    
  
  }



/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}