.global-wrapper{
    // background-color: aquamarine;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .global-header{
        background: var(--color-background-2);
        margin-bottom: 50px;
    }
    main{
        max-width: 60%;
        flex:1;
        margin: 0 auto;
        margin-top: 50px;
    }
    .footerMain{
        background: var(--color-background-3);
        position : relative;
        bottom : 0;
        width: 100%;
        color: var(--color-text);
        text-align: center;
        a{
            
        }
    }
}


@media screen and (max-width: 500px){
    .global-wrapper{
        // background-color: aquamarine;
    
        
        main{
            max-width: 90%;
          
        }
  
  }
}