.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    // height: 50px;
    background: var(--color-background-3);
    display: flex;
    align-items: center;
    margin: unset;
    padding: unset;
    justify-content: space-around;
    .logo{
        margin-right: 20px;
    }
    a{
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        font-family: var(--font-heading);
        color: var(--color-text);
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover{
            background-color:var(--color-primary)
        }
    }
}

.list {
    list-style-type: none;
    // background: var(--color-background-3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: unset;
}
.items {
    // padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
    font-family: var(--font-heading);
    margin: unset;
    // border-radius: 20px;
    padding: 10px;
    &:hover{
        background-color:var(--color-primary)
    }

    a{
        padding: 20px;
        text-decoration: none;
        color: var(--color-text);
    }
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}


@media screen and (max-width: 500px){
    .nav{
        flex-direction: column;

        a{
            .logo{
                margin-right: 0px;
            }
            flex-direction: column;
        }
    }
    .list {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        width: 100%;
    }
    .items:nth-child(1){
        border-top: 1px solid var(--color-primary);
        margin-top: 0;
    }
    .items {
        width: 100%;
        border-top: 1px solid var(--color-primary);
        text-align: center;
        margin-right: 0px;
        padding: 0px 0;
    }
    .btn {
        display: block;
    }
}